<element name="foo" attributes="name">
    <template>

        <style type="text/css">
            .container > div {
                padding: 5px;
            }
            .container {
                font-family: courier;
                font-size: 10px;
                cursor: pointer;
                color: #fff;
                background-color: #333;
                padding: 2px;
                margin: 1px;
            }
        </style>

        <div on-click="click" class="container">
            <div>{{name}}</div>
            <div>click {{counter}}</div>
        </div>
    </template>

    <script>
        Toolkit.register(this, {
            counter: 0,
            name: "default name",
            ready: function () {
                console.log("READY");
            },
            click: function () {
                this.counter++;
            },
            counterChanged: function () {
                console.log("counter changed...", this.counter);
            }

        });
    </script>


</element>